<div class="contenedor-footer">
  <footer class="footer-main">
    <div class="contenido-footer">
      <div class="footer-content">
        <div class="footer-brand">
          <h2 class="footer-logo">Sneakers<span class="txt-red">Pulse</span></h2>
          <p class="footer-tagline">Calzado de calidad para todos</p>
          <div class="social-links">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
        
        <div class="footer-links-container">
          <div class="footer-links">
            <div class="links-section">
              <h3 class="section-title">Ecommerce</h3>
              <ul>
                <li><a routerLink="/inicio-cliente"><i class="fas fa-box-open"></i> Catalogo</a></li>
                <li><a routerLink="/carrito-cliente"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                 <li><a routerLink="/perfil-cliente"><i class="fa-solid fa-user"></i> Mi Perfil</a></li>
              </ul>
            </div>
            
            <div class="links-section">
              <h3 class="section-title">Legal</h3>
              <ul>
                <li><a href="#"><i class="fas fa-file-alt"></i> Términos y condiciones</a></li>
                <li><a href="#"><i class="fas fa-shield-alt"></i> Política de privacidad</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="footer-bottom">
        <div class="footer-copyright">
          <p>&copy; 2025 SneakersPulse. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
</div>